:root{
    /* Colors */
    --clr-light-shade: #F6F3F5;
    --clr-light-accent: #84AAA4;
    --clr-main: #8FE507;
    --clr-dark-accent: #956E38;
    --clr-dark-shade: #2C2D35;
}

html, 
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--clr-dark-shade);
}

  .twoButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
  }

.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginContainer{
    background-color: var(--clr-light-shade);
    margin: auto;
    width: 80%;
    padding: 4% 4% 4% 4%;
    border-radius: 10px;
    box-shadow: rgb(0, 32, 19) 0px 0px 20px;
}
.loginContainer > fieldset{
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
    align-items: center;
    border: 0;
    width: 70%;
    height: 100%;
    font-size: large;
}

.loginContainer > fieldset > legend {
    text-align: center;
    margin-bottom: 30px;
}

.loginContainer > fieldset > label{
    margin-right:auto ;
}

.loginContainer > fieldset > input{
    margin-bottom: 40px;
    width: 100%;
    height: 20px;
}


@media only screen and (min-width: 768px) {
    .loginContainer{
        width: 60%;
    }
}

@media only screen and (min-width: 900px) {
    .loginContainer{
        width: 45%;

    }
}


.student{
    width: 170px;
    display: inline-block;
    margin: 1%;
    border: 1px solid black;
}
h1{
    text-align: center;
}
.container{
    margin:4%;
}
.toevoegen{
    margin-left: 4%;
}