:root{
    /* Colors */
    --clr-light-shade: #F6F3F5;
    --clr-light-shade2: #eae8e9;
    --clr-light-accent: #84AAA4;
    --clr-main: #8FE507;
    --clr-dark-accent: #956E38;
    --clr-dark-shade: #2C2D35;
}

html, 
body {
    height: 100%;
    margin: 0;
}

body{
    background-color: var(--clr-light-shade);
}

a{
    color: var(--clr-main-darker);
}

.button {
    background-color: var(--clr-main);
    border: none;
    color: var(--clr-light-shade);
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

  .twoButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: auto;
    margin-bottom: 10px;
  }

  .twoButtonContainer > a{
    margin: auto 0;
  }

  input[type=text],input[type=password] {
    border-radius: 10px;
    border: 0px;
    padding: 10px;
  }

  /* LOGIN PAGE */

.loginPage{
    display: flex;
    background-color: var(--clr-dark-shade);
}

.loginContainer{
    background-color: var(--clr-light-shade);
    margin: auto;
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
}
.loginContainer > fieldset{
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
    align-items: center;
    border: 0;
    font-size: large;
}

.loginContainer > fieldset > legend {
    text-align: center;
    margin-bottom: 30px;
}

.loginContainer > fieldset > label{
    margin-right:auto ;
    margin-left: 15%;
}

.loginContainer > fieldset > input{
    margin-bottom: 40px;
    width: 70%;
    height: 20px;
}

/*HOME*/

header{
    background-color: var(--clr-dark-shade);
    color: var(--clr-light-shade);
}

header > h1{
    margin: 0px;
}

header > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.studentContainer{
    display: flex;
    flex-wrap: wrap;
    margin:4%;
}

.studentContainer > div{
    min-width: 170px;
    width: 170px;
    display: inline-block;
    margin: 1%;
    border: 1px solid black;
}
h1{
    text-align: center;
}

.toevoegen{
    margin-left: 4%;
}