:root{
    /* Colors */
    --clr-light-shade: #F6F3F5;
    --clr-light-shade2: #eae8e9;
    --clr-light-accent: #84AAA4;
    --clr-main: #8FE507;
    --clr-dark-accent: #956E38;
    --clr-dark-shade: #2C2D35;
}
